* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.slider {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
  height: 10vh; /* Adjusted height for slider */
}

/* Center images */
.slider .slides {
  position: relative;
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider .group {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -29vh;
}

.slider img {
  width: auto;
  height: 50vh; /* Set height to 50% of viewport height */
  object-fit: contain; /* Maintain aspect ratio */
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
}

.slider img.slide.before {
  position: absolute;
  left: 0;
}

.slider img.slide.after {
  opacity: 0;
  position: relative;
  z-index: 1;
}

.thumbnail {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  cursor: pointer;
}

#thumbnails-container {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  position: relative; /* Add position relative */
  z-index: 9998; /* Set a high z-index */
  margin-top: -23vh; /* Add margin between slider and thumbnails */
}

.click-me {
	font-family: 'Montserrat', sans-serif; /* Apply the 'Montserrat' font */
	color: #007bff; /* Change text color to blue */
	text-align: center;
	font-size: 1.2rem;
	margin: 4vh;
	z-index: 9999;
	cursor: pointer;
	transition: transform 0.3s ease, color 0.3s ease;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
 }

  
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.showcase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
  height: 80vh; /* Adjusted height for slider */
  margin-bottom: 1%; /* Add margin between slider and thumbnails */
}
